*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-size:36px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transform: translate(-9999%, -9999%);
}

textarea {
    resize: none;
    padding: .5rem;
}


/*=============================================
=            Estilos generales            =
=============================================*/

.btn {
    padding: 1rem 1.5rem;
    background-color: var(--main-color);
    border-radius: 10px;
    font-size: 20px;
    color: var(--main-text-color);
    border: 0;
    transition: all .3s ease-in-out;
}

.btn:hover{
    cursor:pointer;
    background-color: var(--secondary-color-light);
    color: var(--main-text-color);
    box-shadow: 0 5px 0 rgba(0, 0, 0, .25);
}

.btn-light {
    padding: 1rem 1.5rem;
    border: 1px solid var(--main-color);
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    color: var(--main-color);
    transition: all .3s ease-in-out;
}

.btn-light:hover{
    cursor:pointer;
    border: 1px solid var(--secondary-color-light);
    /* background-color: var(--secondary-color-light); */
    color: var(--secondary-color-light);
    box-shadow: 0 5px 0 rgba(0, 0, 0, .25);
}

/*=====  End of Estilos generales  ======*/


/*=============================================
=            Estilos Media Queries            =
=============================================*/

@media screen and (max-width:768px){
    h1{
        font-size:28px;
        text-align: center;
    }
    
    h2 {
        font-size: 21px;
    }
    
    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .btn, .btn-light {
        padding: 0.8rem 1.2rem;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1{
        font-size:20px;
        text-align: center;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .btn, .btn-light {
        padding: 0.8rem 1.2rem;
        font-size: 12px;
    }
}

/*=====  End of Estilos Media Queries  ======*/

